.dropdown-toggle::after {
    display:none;
}

.historical-date:hover {
    cursor: pointer;
    text-decoration: underline;
}

.table-overflow {
    overflow-y: scroll;
}

.modal-max {
    max-height: 300px;
}

.thumbnail:hover {
    border: 2px solid #B19CD9;
    box-sizing: border-box;
    cursor: pointer;
}

.word-box {
    min-height: 250px;
}

.word:hover {
    cursor: pointer;
    text-decoration: underline;
}
