<div class="w-100 h-100">
    <div class="h1 text-center my-4">
        Drawing Inspiration Generator
    </div>
    <div class="row text-white">
        <div class="col-12 col-md-3 offset-md-2 mb-3">
            <div class="bg-info border border-white rounded word-box pt-2">
                <div class="h4 text-center ml-5">
                    <u>Word of the day</u>
                    <span class="pull-right mr-2">
                        <button
                            class="btn btn-sm btn-outline-light"
                            (click)="openWordHistoryModal()"
                            ngbTooltip="See words from previous days"
                            tooltipClass="dig-tooltip"
                            triggers="hover">
                            <span class="fa fa-clock-o"></span>
                        </button>
                        <button
                            class="btn btn-sm btn-outline-light ml-1"
                            (click)="resetWordOfDay()"
                            ngbTooltip="See word for today"
                            tooltipClass="dig-tooltip"
                            triggers="hover">
                            <span class="fa fa-refresh"></span>
                        </button>
                    </span>
                </div>
                <div class="h5 pl-3">
                    <span class="word" (click)="getImagesByWord(wordOfDay)">{{ wordOfDay | titlecase }}</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 mb-3">
            <div class="bg-info border border-white rounded word-box pt-2"
                ngbTooltip="Click on a word in the definition to find images for that related word"
                tooltipClass="dig-tooltip">
                <div class="h4 text-center"><u>Definition</u></div>
                <div class="h5 pl-2">
                    <span
                      *ngFor="let word of getWordsArray(definitionOfDay);"
                      (click)="getImagesByWord(word)"
                      class="d-inline-block pl-1 word">{{ word }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-dark">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="bg-light border border-white rounded word-box p-3">
                <div class="h4 text-center">
                    <u>Related Images</u>
                    <ng-container *ngIf="imageWord">
                        ( {{ imageWord | titlecase }} )
                    </ng-container>
                    <ng-container *ngIf="getNumberOfPages(totalMatches) > 1">
                        <button class="btn btn-sm btn-link pb-2" (click)="pageDown()" [disabled]="currPage <= 1">
                            <span class="fa fa-arrow-left"></span>
                        </button>
                        <span class="h6">{{ getLeftPageBound() }} - {{ getRightPageBound() }} of {{ totalMatches }}</span>
                        <button class="btn btn-sm btn-link pb-2" (click)="pageUp()" [disabled]="currPage >= getNumberOfPages(totalMatches)">
                            <span class="fa fa-arrow-right"></span>
                        </button>
                    </ng-container>
                </div>
                <ng-container *ngIf="images.length; else noImages">
                    <div *ngFor="let image of images" class="d-inline-block m-3 p-1 thumbnail rounded" (click)="onThumbnailClick(image)">
                        <img [src]="image.previewURL" width="auto" height="auto" alt="image.tags"/>
                    </div>
                </ng-container>
                <ng-template #noImages>
                    <div class="h5 p-3">
                        No images came back for this word.
                        <br/>
                        Try clicking on a word in the definition for images related to that.
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title w-100 h-100">
            <span class="pull-left">{{ imageWord | titlecase }}</span>
            <button
                aria-label="Close"
                type="button"
                class="btn btn-danger btn-sm pull-right"
                (click)="modal.dismiss()">
                <span aria-hidden="true" class="fa fa-times"></span>
            </button>
        </h4>
    </div>
    <div class="modal-body mw-100 mh-100 text-center">
        <img
            [src]="imageInFocus.largeImageURL"
            alt="imageInFocus.tags"
            style="max-height: 80vh; max-width: 90%"/>
    </div>
</ng-template>

<ng-template #history let-modal>
    <div class="modal-header">
        <h4 class="modal-title w-100 h-100">
            <span class="pull-left">Previous Words</span>
            <button
                aria-label="Close"
                type="button"
                class="btn btn-danger btn-sm pull-right"
                (click)="modal.dismiss()"
                ngbTooltip="Close modal"
                placement="right"
                tooltipClass="dig-tooltip"
                triggers="hover">
                <span aria-hidden="true" class="fa fa-times"></span>
            </button>
            <div
                class="btn-group pull-right mr-2"
                ngbDropdown
                role="group"
                aria-label="Button group with nested dropdown">
                <div>
                    <button
                        class="btn btn-sm btn-outline-primary d-inline-block"
                        ngbDropdownToggle
                        style="vertical-align: top;"
                        ngbTooltip="See previous words from days farther back in time"
                        placement="left"
                        tooltipClass="dig-tooltip"
                        triggers="hover">
                        {{ timeIntervalLabel }}
                    </button>
                </div>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button
                        class="dropdown-item"
                        *ngFor="let interval of timeIntervals"
                        (click)="changedTimeInterval(interval)">
                        {{ interval.label }}
                    </button>
                </div>
            </div>
        </h4>
    </div>
    <div class="modal-body mw-100 mh-100 h-100 text-center modal-max">
        <table class="table table-striped w-100 table-overflow">
            <tbody>
                <ng-container *ngFor="let word of wordHistory; let odd = odd; let index = index">
                    <tr *ngIf="!odd">
                        <td (click)="changeDay(word.date)" class="text-left historical-date">
                            {{ formatDate(word.date) }}
                        </td>
                        <td (click)="changeDay(word.date)" class="text-right historical-date">
                            {{ word.word }}
                        </td>
                        <td (click)="changeDay(wordHistory[index + 1]?.date)" class="text-left historical-date">
                            {{ formatDate(wordHistory[index + 1]?.date) }}
                        </td>
                        <td (click)="changeDay(wordHistory[index + 1]?.date)" class="text-right historical-date">
                            {{ wordHistory[index + 1]?.word }}
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</ng-template>
