<div class="w-100 h-100">
    <div class="h1 text-center my-4">Drawing Inspiration Generator</div>
    <div class="row text-white">
        <div class="col-12 col-md-3 offset-md-2 mb-3">
            <div class="bg-info border border-white rounded word-box pt-2">
                <div class="h4 text-center"><u>Word of the day</u></div>
                <div class="h5 pl-3">
                    <span class="word" (click)="getImagesByWord(wordOfDay)">{{ wordOfDay | titlecase }}</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 mb-3">
            <div class="bg-info border border-white rounded word-box pt-2">
                <div class="h4 text-center"><u>Definition</u></div>
                <div class="h5 pl-2">
                    <span
                      *ngFor="let word of getWordsArray(definitionOfDay);"
                      (click)="getImagesByWord(word)"
                      class="d-inline-block pl-1 word">{{ word }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-dark">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="bg-light border border-white rounded word-box p-3">
                <div class="h4 text-center">
                    <u>Related Images</u>
                    <ng-container *ngIf="imageWord">
                        ( {{ imageWord }} )
                    </ng-container>
                </div>
                <ng-container *ngIf="images.length; else noImages">
                    <div *ngFor="let image of images" class="d-inline-block m-3 p-1 thumbnail rounded" (click)="onThumbnailClick(image)">
                        <img [src]="image.previewURL" width="auto" height="auto" alt="image.tags"/>
                    </div>
                </ng-container>
                <ng-template #noImages>
                    <div class="h5 p-3">
                        No images came back for this word.
                        <br/>
                        Try clicking on a word in the definition for images related to that.
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title w-100 h-100">
            <span class="pull-left">{{ imageWord | titlecase }}</span>
            <button
                aria-label="Close"
                type="button"
                class="btn btn-danger btn-sm pull-right"
                (click)="modal.dismiss()">
                <span aria-hidden="true" class="fa fa-times"></span>
            </button>
        </h4>
    </div>
    <div class="modal-body mw-100 mh-100 text-center">
        <img
            [src]="imageInFocus.largeImageURL"
            alt="imageInFocus.tags"
            style="max-height: 80vh; max-width: 90%"/>
    </div>
</ng-template>
