.thumbnail:hover {
    border: 2px solid #B19CD9;
    box-sizing: border-box;
    cursor: pointer;
}

.word-box {
    min-height: 250px;
}

.word:hover {
    cursor: pointer;
    text-decoration: underline;
}
